<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">

            <form method="post" action="/admin/word/create">
                <div class="mb-3">
                    <label for="username" class="form-label">Word</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>